body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to bottom right, #1f1f24 0%, #1f1f1f 100%);
}

.images-section {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 100px;
}

.images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0px;
    margin-top: 100px;
    border: 2px solid white;
    border-radius: 20px;
    border-top : 0px;
    box-shadow: 10px 10px 0px rgba(255, 255, 255, 0.109);
    box-sizing: border-box;
}

.images img {
    margin-top: 25px;
    width: 275px;
    height: auto;
    gap: 20px;
}

.images img:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.name-cont {
    background: #2E4057;
    padding: 50px;
    box-shadow: 0 10px 20px rgba(86, 78, 78, 0.2);
    transition: all 0.3s ease;
    border: -10px solid rgba(red, green, blue, alpha);
    transition: all 0.3s ease;
    height: 200px;
    margin-bottom: 0px;
}

.name-cont:hover {
    transition: all 0.3s ease;
    transform: translateY(-10px);
    box-shadow: 15px 10px 30px rgba(86, 78, 78, 0.4);
}

.name {
    color: white;
    font-family: SF-Pro-Display, sans-serif;
    font-size: 5em;
    font-weight: 600;
    text-align: center;
}

.deco-block-1 {
    width: 100%;          
    height: 25px;          
    background-color: white; 
    border-radius: 4px; 
    border-width: 1px solid #004643;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.2);
    margin-top: 200px;
}

.deco-block-2 {
    width: 100%;
    height: 25px;
    background-color: white;
    border-radius: 4px;
    border-width: 1px solid #13164d;
    box-shadow: 15px 10px 30px rgba(255, 255, 255, 0.2);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Projeler Bölümü*/
.projects-section {
    padding: 20px 0;
    margin-left: 100px;
    margin-right: 100px;
}

.section-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
    color: #fff;
}

/*Grid Düzeni*/
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

/*Link Sarmalayıcı*/
.project-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

/*About Me Bölümü*/
.about-me-section {
    padding: 10px 0;
}

.about-me-content-grid {
    display: flex;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about-me-content-grid h2 {
    font-size: 3.5em;
    font-weight: 600;
    color:white;
    margin: 0;
    box-shadow: 10px 10px 10px solid white;
}

.about-me-content-grid h2:nth-child(2) {
    text-align: center;
}

/*Proje Kartı*/
.project-card {
    position: relative;
    background-color: #2E4057;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(86, 78, 78, 0.2);
    transition: all 0.3s ease;
    border: 1px solid rgba(red, green, blue, alpha);
}

/*Kart Görseli*/
.card-image {
    height: 220px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/*Kart Bilgisi*/
.card-info {
    text-align: top;
    padding: 2px;
}

.card-info h3 {
    font-size: 1.3rem;
    font-weight: 600px;
    color: #fff;
    margin: 0px;
    position: relative;
}

/*Hover Efektleri*/
.project-card-link:hover .project-card {
    transform: translate3D(10px, 10px, 0);
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.project-card-link:hover .card-image img {
    transform: scale(1.1);
}

.footer {
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 100px;
    background-color: white;
    padding: 0px;
    height: 20%;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.footer-image {
    border-radius: 4px;
    width: 100%;
    height: 200px;
    display: block;
    overflow: hidden;
    object-fit: cover;
    opacity: 0.5;
}

.footer-image-2 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    margin-right: 350px;
    object-fit: cover;
}
.footer-image-3 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.footer-image-4 {
    display: flex;
    margin-bottom: 10px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 12%;
    height: auto;
    margin-right: -350px;
    object-fit: cover;
}

.footer-images {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-image-2:hover,
.footer-image-3:hover,
.footer-image-4:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
}

.projects-grid{
    margin-top: 15%;
}
@media (max-width: 1024px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
        grid: 20px;
    }
}